@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "partials/forms.css";

.agon {
  @apply font-sans;

  &.sheet .editor {
    @apply h-40;
  }
}

body {
  background-image: url("../assets/agon-bg.webp");
}

.app {
  @apply bg-gray-200 text-black rounded-none font-sans;
  background-image: none;

  & h1,
  & h2,
  & h3 {
    @apply uppercase;
  }

  /* .directory,
  .file {
    @apply normal-case;
  } */
}
.window-app {

  & .window-header {
    @apply border-b-2;
  }

  & .window-content {
    @apply bg-white;
    background-image: none;
  }
}


#pause > img {
  content: url("../assets/agon-o-mark.svg");
  /* height: 256px;
  width: 256px; */
  /* top: -75px;
  left: calc(50% - 132px); */
}

#logo {
  content: url("../assets/agon-logo-light.svg");
  width: 100px;
  height: 28.66666666666667px;
  top: 15px;
}

.propose-contest-form {
  & input.hidden:checked + label {
    @apply ring-4;
  }
}

.sheet {
  /* & header.sheet-header img {
    @apply bg-gray-100;
  } */

  & .logo {
    @apply h-auto border-none flex-none w-48;
  }

  & h1 {
  }
}

.sheet-section {
  @apply border-solid border-0 border-l-2 border-gray-700 pl-2 mb-4;

  &.glory {
    @apply mb-0;
  }

  & h1 {
    @apply text-base border-none leading-none;
  }
}

.die-dropdown {
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  & select {
    grid-area: select;
    @apply pr-4;
  }

  &::after {
    @apply bg-gray-700;
    grid-area: select;
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.cut-corners {
  position: relative;

  &:before,
  &:after {
    @apply absolute right-0 w-1 h-1 border-black border-2 border-solid border-r-0 bg-white pointer-events-none;
    content: "";
  }

  &:before {
    @apply top-0 border-t-0;
  }
  &:after {
    @apply bottom-0 border-b-0;
  }
}

.cut-corners--left {
  &:before,
  &:after {
    @apply absolute left-0 w-1 h-1 bg-white pointer-events-none;
    content: "";
  }

  &:before {
    @apply top-0 border-t-0;
  }
  &:after {
    @apply bottom-0 border-b-0;
  }
}

.domains {
  width: 13.7rem;
  margin-left: 1rem;
  flex: 0 0 auto;
}

.favors .divine {
  &:nth-child(2n),
  &:nth-child(3),
  &:nth-child(7),
  &:nth-child(11) {
    @apply relative cut-corners--left;
  }
}

.style {
  & .editor {
    @apply -ml-2 bg-gray-100 p-2;
  }
  & .editor-edit {
    @apply block top-auto bottom-2 right-2 border-none shadow-none bg-accent py-1 px-2;
  }
}

.pathos-line {
  @apply relative mx-2;

  &:after {
    @apply bg-gray-500 absolute -right-8 w-8;
    content: "";
    height: 2px;
    top: calc(50% - 1px);
  }
}

.fate-line {
  @apply relative mx-2;

  &:after {
    @apply bg-gray-500 absolute -right-4 w-4;
    content: "";
    height: 2px;
    top: calc(50% - 1px);
  }

  &:last-child:after {
    content: none;
  }
}

.fate-line--marked {
  &:before {
    @apply absolute bg-black rounded-full;
    content: "";
    height: 4px;
    width: 4px;
    top: calc(50% - 3px);
    right: calc(50% - 2px);
  }
}

.fate {
  & [type="checkbox"] {
    @apply w-auto h-auto m-0;
  }
}
