<form>
    {{actor.name}}
    <h1>A Worth Opponent</h1>
    list of written opponents
    box for new opponent
    <h1>Foe Status</h1>
    Epic, Mythic, Perilous, Sacred
    <h1>
        Divine Wrath
    </h1>
    <h1>Strife Level</h1>
    +4 +5 +6
    <h1>Domain</h1>
</form>
