*,
::after,
::before {
  border: 0 solid;
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-none shadow-none;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 border-white border-solid rounded-none;
}
:root {
  --color-underline-header: #000;
  --color-text-hyperlink: theme("colors.accent.500");

  scrollbar-width: thin;
  scrollbar-color: theme("colors.gray.700") theme("colors.gray.100");
}

a:hover {
  text-shadow: 0 0 10px theme("colors.accent.500");
}

.agon {
  @apply font-sans;

  &.sheet .editor {
    @apply h-40;
  }
}

body {
  background-image: url("../assets/agon-bg.webp");
}
.app,
.chat-message {
  @apply bg-gray-200 text-black rounded-none font-sans;
  background-image: none;

  & h1,
  & h2,
  & h3 {
    @apply uppercase;
  }

  /* .directory,
  .file {
    @apply normal-case;
  } */
}

#sidebar {
  @apply shadow-none border-none;
}

#sidebar-tabs {
  @apply shadow-none bg-accent-300 border-b-2 mb-0 border-black;

  & > .item {
    border-radius: 0;
  }

  & > .item.active {
    /* color: #FFF; */
    @apply border-0 shadow-none bg-accent-400;
    box-shadow: inset 0 -2px black;
  }

  & > .collapse {
    color: black;
  }
}

.tabs .item.active {
  text-shadow: none;
}

#players {
  @apply border-0 p-2 border-l-2 border-solid shadow-none;

  /* &:before {
    @apply h-auto w-0.5 bg-black absolute top-2 bottom-1 left-2;
    content: '';
  } */

  & h3 {
    @apply m-0 mb-2 p-0 border-none;

    & i {
      @apply m-0;
    }

    & .players-mode {
      @apply text-black;
    }
  }

  & ol {
    & li.player {
      @apply p-0;
    }

    & .player-name.self {
      @apply text-black font-bold;
    }

    & .player-active {
      @apply h-3 w-3 m-0 mr-1 self-center rounded-full flex-none;
      border: 2px solid black !important;

      &.active {
        @apply shadow-none;
      }
    }
  }
}

.window-app {
  & .window-header {
    @apply border-b-2;
  }

  & .window-content {
    @apply bg-white;
    background-image: none;
  }

  & .window-resizable-handle {
    @apply bottom-0 bg-gray-700 text-white border-white rounded-none leading-none;
  }
}

#pause > img {
  content: url("../assets/agon-o-mark.svg");
  /* height: 256px;
  width: 256px; */
  /* top: -75px;
  left: calc(50% - 132px); */
}

#logo {
  content: url("../assets/agon-logo-light.svg");
  width: 100px;
  height: 28.66666666666667px;
  top: 15px;
}

.vault-of-heaven svg {
  width: 782px;
}