button,
form button,
.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default,
.primary-cta {
    @apply uppercase 
        border-2 border-black bg-accent-300 text-black 
        text-lg
        rounded-none
        font-sans;
              
    line-height: 1.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: inset 0 0 0 5px white, inset 0 0 0 7px black;
    min-height: 2.5rem;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 5px theme("backgroundColor.accent.300"),
            inset 0 0 0 7px black;
    }

    & > i {
        @apply mr-1;
    }
}

.chat-cta--transparent {
    @apply 
        uppercase text-sm font-sans text-white 
        rounded-none bg-transparent 
        border-2 border-white shadow-none p-0;
    line-height: 3;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 5px black, inset 0 0 0 7px white;
    }
}

.directory .action-buttons button {
    font-size: .8rem;
    padding: .5em;
}