#chat-log {
    @apply divide-y-2 divide-black;
}

#chat-form textarea {
    @apply bg-white rounded-none border-black border-2;
    background-image: none;
}

.chat-message {
    @apply border-0 p-0 my-2 mx-0;

    & .message-header {
        @apply p-1;
    }
}

.strife-roll,
.fortune-test {
    @apply bg-black text-white p-4 border-l-2 border-white;
    background-image: url('../assets/contest-background.webp');
    background-size: cover;
    background-position: -50% bottom;
}

.fortune-test {
    /* background-image: url('../assets/fortune-background.webp');
    background-size: cover;
    background-position: -50% bottom; */
    background-size: auto;
}
