.sheet {
  & .logo {
    @apply h-auto border-none flex-none w-48;
  }

  & h1 {
  }
}

.sheet-section {
  @apply border-0 border-l-2 border-gray-700 pl-2 mb-4;

  &.glory {
    @apply mb-0;
  }

  & h1,
  & h2 {
    @apply text-base border-none leading-none;
  }

  & h3 {
    @apply text-sm normal-case -mt-2;
  }
}

.cut-corners {
  @apply relative;

  &:before,
  &:after {
    @apply absolute right-0 w-1 h-1 bg-white pointer-events-none;
    content: "";
  }

  &:before {
    @apply top-0 border-t-0;
  }
  &:after {
    @apply bottom-0 border-b-0;
  }
}

.cut-corners--border {
  position: relative;

  &:before,
  &:after {
    @apply absolute -right-0.5 w-1 h-1 border-black border-2 border-r-0 bg-white pointer-events-none;
    content: "";
  }

  &:before {
    @apply -top-0.5 border-t-0;
  }
  &:after {
    @apply -bottom-0.5 border-b-0;
  }
}

.cut-corners--nested {
  @apply cut-corners--border;

  &:before,
  &:after {
    @apply right-0;
  }

  &:before {
    @apply top-0;
  }
  &:after {
    @apply bottom-0;
  }
}

.cut-corners--left {
  
  &:before,
  &:after {
    content: '';
  }
}

.cut-corners--left {

  &:before,
  &:after {
    @apply absolute left-0 w-1 h-1 bg-white pointer-events-none;
  }

  &:before {
    @apply top-0 border-t-0;
  }
  &:after {
    @apply bottom-0 border-b-0;
  }
}

.divine-favours {
  @apply absolute top-0 flex flex-col h-full justify-around;
  right: -8px;
}

.divine__favours {
  @apply -right-2.5;
}
