<form class="{{cssClass}} flexcol uppercase" autocomplete="off">
    <section class="vault-of-heaven sheet-section">
      <h1 class="text-lg">The Vault of Heaven</h1>
      <div class="-ml-2">{{> "systems/agon/assets/vault-of-heaven.svg.handlebars" }}</div>
    </section>
    <div class="flex flex-flow">
      <button class="create-contest primary-cta">Propose Contest</button>
      <button class="create-contest primary-cta">Accept Sacrifice</button>
      <button class="create-contest primary-cta">Challenge Leadership</button>
    </div>
</form>

