<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="vault-of-heaven">
      {{> "systems/agon/assets/vault-of-heaven.svg.handlebars" }}
    </section>
    <button class="create-contest">Propose Contest</button>
</form>

