<div class="agon chat-card fortune-test">
    <h2 class="border-none text-sm m-0 mb-1 text-center">Strife Player when ready</h2>
    <div class="card-actions">
        <button
            class="chat-cta--transparent"
            data-action="test-fortune"
            data-message-id="{{messageId}}"
        ><i class="fas fa-dice-d20 mr-2"></i>Test Their Fortune</button>
    </div>
</div>
