<div class="spoken_title normal-case">
    <div class="preamble inline">
        I will face this contest! I am
        {{hero.name}}
    </div>
    <div class="epithet inline">
        <div class="epithet__text inline">
            Great-Hunter
        </div>
        <div class="epithet__die inline">d6</div>
    </div>

    <div class="name inline">
        <div class="name__text inline">
            Arkadios, Scion of Demeter
        </div>
        <div class="name__die inline">d6</div>
    </div>

    <div class="domain inline">
        <div class="domain__text inline">
            , Hero of Craft & Reason
        </div>
        <div class="domain__die inline">d8</div>
    </div>

    <div class="bond inline">
        <div class="bond__text inline">
            , Ally of Draos
        </div>
        <div class="bond__die inline">d6</div>
    </div>
    <div class="punctuation inline">
        !
    </div>
    <div class="favor inline">
        <div class="favor__text inline">
            I call on the Precision of Artemis to aid me.
        </div>
        <div class="favor__die inline">d4</div>
    </div>
</div>