<div class="agon chat-card">
    <h1>The Strife Player Rolls:</h1>
    <p>Arts & Oration</p>
    <p>Perilous</p>
    <p>The Target is: 10</p>
    <h2>Who will face this contest?</h2>
    <div class="card-actions">
        <button data-action="contest-reply">Answer the Call</button>
    </div>
</div>
<div class="agon chat-card">
    <p>You face a <strong>Perilous</strong> contest of <strong>Craft & Reason</strong> against <strong>Stoic and Strong-Armed Meletia, Mining Chief</strong></p>
    <p>The Target is <strong>10</strong></p>
    <h2>Who will face this contest?</h2>
    <div class="card-actions">
        <button data-action="contest-reply">Answer the Call</button>
    </div>
</div>